:root {
  --primary-color: #1a73e8;
  --secondary-color: #f8f9fa;
  --text-color: #333;
  --light-text: #666;
  --border-color: #e0e0e0;
  --error-color: #d32f2f;
  --success-color: #388e3c;
}

#header-container {
  color: #7e8185;
  display: flex;
  align-items: flex-start;
}
